body {
    background: linear-gradient(135deg, white, #b6c7b6, #97ce97);
    color: #333;
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
 

