/* Results page specific styles */
.results {
    font-size: var(--font-size-large);
    color: var(--secondary-color);
}

#exam_info, #result, #result * {
    padding-left: 10px;
}

input[type="radio"] :checked {
    color: black;
}
.correct {
    color: green;
}

.wrong {
    color: red;
}